.people-list {
    padding: 0;
}

.sw-el-link {
    color: #70989D;
    text-decoration: none;
}

.sw-el {
    border: 1px solid #B64519;
    margin: 20px auto;
    padding: 15px;
    max-width: 500px;
    text-align: center;
    transition: 1s all ease;
    display: block;
    text-decoration: none;
}

.sw-el:hover {
    cursor: pointer;
    background: #282224;
    transform: scale(1.1);
    border: 1px solid #F2DE1E;
    border-radius: 10px;
}

